[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"

[packages]
numpy = "*"
matplotlib = "*"
scikit-learn = "*"
tensorflow = "*"
pandas = "*"
jupyter = "*"
ipykernel = "*"
xlrd = "*"
autograd = "*"
imblearn = "*"

[requires]
python_version = "3.6"
